src/main/mule/dwpoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70650463-2adb-4828-926b-7ffc9c23dd88" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwpoc1Flow" doc:id="19c698b7-bfd6-417e-be55-6062de145f84" >
		<http:listener doc:name="Listener" doc:id="e2b1c2da-edd6-4a77-8a80-f5c8baeed410" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="988940b5-f8c5-4cfc-8e20-b6bbbf652adb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"mule_soft" splitBy("_")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a63046ca-40f6-404f-ae0a-404f6320563d" message="#[payload]"/>
	</flow>
</mule>
